- name: Ensure /usr/local dir exists
  file: dest=/usr/local state=directory

- name: Download golang
  sudo: yes
  shell: cd /usr/local; wget http://go.googlecode.com/files/go{{ golang_version }}.linux-386.tar.gz

- name: Extract archive
  sudo: yes
  shell: cd /usr/local; tar -C /usr/local -xzf go{{ golang_version }}.linux-386.tar.gz

- name: Remove downloaded archive
  sudo: yes
  shell: cd /usr/local; rm go{{ golang_version }}.linux-386.tar.gz

- name: Add the PATH env variable
  shell: echo "export PATH=$PATH:/usr/local/go/bin" > ~/.bash_profile

- name: Create hello world go app
  file: dest=~/hello_world_go state=directory

- name: Add app source
  copy: src=hello.go dest=~/hello_world_go/hello.go mode=700 owner={{ host.user }}
