- name: Ensure /usr/local dir exists
  file: dest=/usr/local state=directory

- name: Download golang
  get_url: url=http://go.googlecode.com/files/go{{ golang_version }}.linux-386.tar.gz dest=/usr/local

- name: Extract archive
  sudo: yes
  command: chdir=/usr/local creates=go{{ golang_version }}.linux-386 tar -xzf go{{ golang_version }}.linux-386.tar.gz

# FIXME: this is not working
- name: Add the PATH env variable
  lineinfile: dest=~/.profile insertafter=EOF line="export PATH=$PATH:/usr/local/go/bin" create=yes

- name: Create hello world go app
  file: dest=~/hello_world_go state=directory

- name: Add app source
  copy: src=hello.go dest=~/hello_world_go/hello.go mode=700 owner={{ host.user }}
